/*
    This style sheet uses media queries to implement a responsive design.
    At the top level there are several media queries that generate
    layout breakpoints for specific screen widths.

    TODO: Currently there is only one breakpoint for distinguishing between
          mobile phones in portrait, and everything else.
 */

/*
    -----------------------------------------------------------------------
    Global font properties. The @import rule cannot appear inside media
    queries. I like to keep things together so I'm specifying the
    font-family property here, too.
    Note: The Ubuntu font is a libre/open font. The license is available
    here: http://font.ubuntu.com/ufl/. The licence's intent is clearly
    benign, but as the Wikipedia page [1] states a number of important
    organizations don't consider the license "free".
    [1] https://en.wikipedia.org/wiki/Ubuntu_%28typeface%29
    -----------------------------------------------------------------------
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
}

/*
    The rules within this media query are for smartphones, typically in
    portrait mode. They also serve as default rules if not overridden by
    rules within other media queries.
    Note: This media query is not really necessary, but I like to have
    it around so that all rules in this style sheet are indented on the
    same level.
 */
@media screen and (min-width: 0px)
{
    /*
        -----------------------------------------------------------------------
        Series of rules that control positioning of navigation elements
        -----------------------------------------------------------------------
     */
    nav {
        position: relative;
        /*
            1em for the actual links, and 1em each for the top/bottom
            spacing around the links. If you change this value, also
            change the value of the "top" property in the next rule.
            Don't specify pixels in case the font changes.
         */
        height: 3em;
    }
    #navigation-website-root, #navigation-main-pages {
        position: absolute;
        /*
            This must match the top spacing allotted by the "height"
            property in the previous rule. The effect is that the
            links are more or less vertically centered within the
            nav element.
         */
        top: 1em;
        list-style-type: none;
    }
    #navigation-website-root {
        left: 1em;
    }
    #navigation-main-pages {
        right: 1em;
    }
    /* Remove vertical stacking of block elements */
    nav ul, nav li {
        display: inline;
    }
    /* Reset padding and margin for a number of nav elements */
    nav, nav ul, nav li {
        padding: 0;
        margin: 0;
    }

    /*
        -----------------------------------------------------------------------
        Series of rules that control positioning of footer elements
        -----------------------------------------------------------------------
    */
    footer {
        position: relative;
        /*
            4em for the actual lines, 1em each for the top/bottom
            spacing around the links, and an additional 1em to
            compensate for the Ubuntu font. If you change this value, also
            change the value of the "top" property in the next rule.
            Don't specify pixels in case the font changes.
         */
        height: 7em;
    }
    #opening-hours, #customer-comment, #postal-address {
        position: absolute;
        /*
            This must match the top spacing allotted by the "height"
            property in the previous rule. The effect is that those
            elements that use up the maximum number of lines are more
            or less vertically centered within the footer element.
         */
        top: 1em;
    }
    #opening-hours {
        left: 1em;
    }
    #postal-address {
        right: 1em;
    }
    #customer-comment {
        /* Give sufficient width for a long quote */
        width: 40%;
        /*
            Calculate this based on the width value to horizontally
            center the block
          */
        left: 30%;
        /*
            Use slightly more than 4em so that characters that
            go below the baseline on the 4th line are not cut off.
         */
        height: 4.5em;
        overflow: hidden;
    }
    /* Reset padding and margin for a number of footer elements */
    footer, footer p {
        padding: 0;
        margin: 0;
    }

    /*
        -----------------------------------------------------------------------
        Styles common to navigation and footer blocks
        -----------------------------------------------------------------------
    */
    nav, footer {
        border: 1px solid;
        background-color: cornflowerblue;
    }

    /*
        -----------------------------------------------------------------------
        Series of rules that define navigation links' appearance
        -----------------------------------------------------------------------
     */
    /* Styles for the link to the website root */
    #navigation-website-root a {
        text-decoration: none;
    }
    #navigation-website-root a:link,
    #navigation-website-root a:visited {
        color: black;
    }
    #navigation-website-root a:hover,
    #navigation-website-root a:focus,
    #navigation-website-root a:active {
        color: white;
    }
    /* Styles for the links to the main pages */
    #navigation-main-pages a:link,
    #navigation-main-pages a:visited {
        color: #0030f0;
    }
    #navigation-main-pages a:hover,
    #navigation-main-pages a:focus,
    #navigation-main-pages a:active {
        color: white;
    }
}

/*
    The rules within this media query are for larger smartphones, tablets
    and desktops.
 */
@media screen and (min-width: 768px)
{
}
