/*
    This style sheet uses media queries to implement a responsive design.
    At the top level there are several media queries that generate
    layout breakpoints for specific screen widths.

    TODO: Currently there is only one breakpoint for distinguishing between
          mobile phones in portrait, and everything else.
 */

/*
    -----------------------------------------------------------------------
    Global font properties. The @import rule cannot appear inside media
    queries. I like to keep things together so I'm specifying the
    font-family property here, too.
    Note: The Ubuntu font is a libre/open font. The license is available
    here: http://font.ubuntu.com/ufl/. The licence's intent is clearly
    benign, but as the Wikipedia page [1] states a number of important
    organizations don't consider the license "free".
    [1] https://en.wikipedia.org/wiki/Ubuntu_%28typeface%29
    -----------------------------------------------------------------------
 */
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    font-family: 'Ubuntu', sans-serif;
}

/*
    The rules within this media query are for smartphones, typically in
    portrait mode. They also serve as default rules if not overridden by
    rules within other media queries.
    Note: This media query is not really necessary, but I like to have
    it around so that all rules in this style sheet are indented on the
    same level.
 */
@media screen and (min-width: 0px)
{
    /*
        -----------------------------------------------------------------------
        Styles common to navigation and footer blocks
        -----------------------------------------------------------------------
    */
    nav, footer {
        border: 1px solid;
        background-color: cornflowerblue;
        /*
            The default line height looks a bit cramped, so let's be generous
            and increase the line height very slightly.
            Note: This has an influence on navigation and footer heights, and
            on the positioning of the elements within these blocks.
         */
        line-height: 1.3em;
    }

    /*
        -----------------------------------------------------------------------
        Rules that control positioning of navigation elements
        -----------------------------------------------------------------------
     */
    nav {
        position: relative;
        /*
            1em for the actual links, and 1em each for the top/bottom
            spacing around the links. If you change this value, also
            change the value of the "top" property in the next rule.
            Don't specify pixels in case the font changes.
         */
        height: 3.9em;
    }
    #navigation-website-root, #navigation-main-pages-container {
        position: absolute;
        /*
            This must match the top spacing allotted by the "height"
            property in the previous rule. The effect is that the
            links are more or less vertically centered within the
            nav element.
         */
        top: 1.3em;
    }
    #navigation-website-root {
        left: 1em;
    }
    #navigation-main-pages-container {
        right: 1em;
    }

    /*
        -----------------------------------------------------------------------
        Rules that control appearance of navigation elements
        -----------------------------------------------------------------------
     */
    #navigation-website-root, #navigation-main-pages {
        list-style-type: none;
    }
    /* Remove vertical stacking of some block elements */
    #navigation-website-root, #navigation-website-root li {
        display: inline;
    }
    /* Reset padding and margin for a number of nav elements */
    nav, #navigation-website-root, #navigation-website-root li {
        padding: 0;
        margin: 0;
    }

    /*
        -----------------------------------------------------------------------
        Rules that define navigation links' appearance
        Note: These rules must appear early in the style sheet
        so that we can override the styles further down.
        -----------------------------------------------------------------------
     */
    /* Styles for the link to the website root */
    #navigation-website-root a {
        text-decoration: none;
    }
    #navigation-website-root a:link,
    #navigation-website-root a:visited {
        color: black;
    }
    #navigation-website-root a:hover,
    #navigation-website-root a:focus,
    #navigation-website-root a:active {
        color: white;
    }
    /* Styles for the links to the main pages */
    #navigation-main-pages a:link,
    #navigation-main-pages a:visited {
        color: #0030f0;
    }
    #navigation-main-pages a:hover,
    #navigation-main-pages a:focus,
    #navigation-main-pages a:active {
        color: white;
    }

    /*
        -----------------------------------------------------------------------
        Rules that define the dropdown
        -----------------------------------------------------------------------
     */
    .dropdown-container:before {
        /*
            Image source: http://thenounproject.com/term/menu/36901/ (Menu by John Caserta)
            Image slightly edited by me.
         */
        content: url('../image/noun_36901_cc.svg');
    }
    .dropdown-container {
        display: inline-block;
    }
    .dropdown-content {
        /*
            Position the content so that it is flush below and on the
            right edge of the container area.
        */
        position: absolute;
        top: 100%;
        right: 0;
        /*
            Specifying a non-transparent background makes the dropdown
            distinctly visible.
         */
        background-color: white;
        /*
            Show a small area of spacing on all sides of the dropdown area.
            It's important to use padding here, not margin! If we were using
            margin there would be no background in the margin area. Even
            more fatally, the mouse pointer cannot hover over the empty
            margin area, so the dropdown would close as soon as the mouse
            pointer would enter the margin area because the "hover:" style
            would cease to apply. It would be efffectively impossible for
            the mouse pointer to ***ever*** reach the dropdown area.
         */
        padding: 0.75em 1em;
        /*
            It is vital that the dropdown content ***never ever*** has a
            margin! See the comment on the padding property for an
            explanation.
         */
        margin: 0;
        /*
            By default the content box is as small as possible, just enough
            to accomodate the longest link text. This is visually
            unappealing and with short link texts the user may have
            difficulties navigating the mouse pointer into the very
            small dropdown area. By specifying a minimum width we give
            the dropdown area sufficient space to provide an easy-to-hit
            mouse pointer target.
          */
        min-width: 8em;
        /*
            Give the dropdown a little bit more visual spice.
            Note: The shadow should not change with the font size, so
            we use the px unit.
         */
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        /*
            Make sure that the dropdown appears above other content
         */
        z-index: 1;
        /*
            Finally, this hides the dropdown by default. It becomes visible
            only when the ":hover" rule applies.
         */
        display: none;
    }
    /*
        This is the core rule that makes the dropdown visible!
     */
    .dropdown-container:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a {
        /* Because it's a dropdown we don't want any underlines */
        text-decoration: none;
        /*
            Setting this to block allows us to background-color an
            entire block on hover (see next rule).
         */
        display: block;
    }
    .dropdown-content a:hover {
        /* Use the same color as the nav background */
        background-color: cornflowerblue;
    }

    /*
        -----------------------------------------------------------------------
        Rules that control positioning of footer elements
        -----------------------------------------------------------------------
    */
    footer {
        position: relative;
        /*
            4em for the actual lines, 1em each for the top/bottom
            spacing around the links. If you change this value, also
            change the value of the "top" property in the next rule.
            Don't specify pixels in case the font changes.
         */
        height: 7.8em;
    }
    #opening-hours, #customer-comment, #postal-address {
        position: absolute;
        /*
            This must match the top spacing allotted by the "height"
            property in the previous rule. The effect is that those
            elements that use up the maximum number of lines are more
            or less vertically centered within the footer element.
         */
        top: 1.3em;
    }
    #opening-hours {
        left: 1em;
    }
    #postal-address {
        right: 1em;
    }
    #customer-comment {
        /* Give sufficient width for a long quote */
        width: 40%;
        /*
            Calculate this based on the width value to horizontally
            center the block
          */
        left: 30%;
        /*
            Use slightly more than 4em so that characters that
            go below the baseline on the 4th line are not cut off.
         */
        height: 4.5em;
        overflow: hidden;
    }
    /* Reset padding and margin for a number of footer elements */
    footer, footer p {
        padding: 0;
        margin: 0;
    }

    /*
        -----------------------------------------------------------------------
        Footer styles
        -----------------------------------------------------------------------
     */
    #customer-comment {
        font-style: italic;
    }
}

/*
    The rules within this media query are for larger smartphones, tablets
    and desktops.
 */
@media screen and (min-width: 768px)
{
    /*
        -----------------------------------------------------------------------
        Rules that undo the dropdown configuration
        These rules must appear early so that we can override
        and re-style further down.
        Unfortunately we can't use the "unset" keyword because browser support
        for that is insufficient. So it seems that the only thing we can do is
        to explicitly set default values.
        -----------------------------------------------------------------------
     */
    .dropdown-container:before {
        content: "";
    }
    .dropdown-container {
        display: block;
    }
    .dropdown-content {
        position: static;
        top: auto;
        right: auto;
        background-color: transparent;
        padding: 0;
        margin: 0;
        min-width: 0;
        box-shadow: none;
        z-index: auto;
        display: block;
    }
    .dropdown-container:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a {
        text-decoration: underline;
        display: inline;
    }
    .dropdown-content a:hover {
        background-color: transparent;
    }

    /*
        -----------------------------------------------------------------------
        Rules that re-style the navigation elements that previously
        were in a dropdown.
        -----------------------------------------------------------------------
     */
    #navigation-main-pages-container, #navigation-main-pages, #navigation-main-pages li {
        display: inline;
    }

    #navigation-main-pages a {
        /*
            The default spacing between links is too cramped, so let's
            be a bit more generous and add some padding. Don't add
            padding on both sides or the link block will be shifted
            away from the right edge of the nav block.
         */
        padding-left: 0.5em;
    }
}
